/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 0.65vw; 
}

/* Estilos para el riel de la barra */
::-webkit-scrollbar-track {
  background-color: hwb(0 0% 100% / 0); /* Color de fondo del riel */
}

/* Estilos para el pulgar de la barra */
::-webkit-scrollbar-thumb {
  background-color: #636363b2; /* Color del pulgar */
  border-radius: 1vw; /* Borde redondeado del pulgar */
}

/* Estilos para el pulgar cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background-color: #696968b2; /* Color del pulgar al pasar el cursor */
}

@media (max-width: 1800px) {
body{
    overflow: hidden;
    background-color: black;
    
}

#header {
    position: absolute;
    width: 100vw;
    height: 12vh;
    background-color: rgb(0, 0, 0);
    color: white;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    margin-left: 0.4vw;
    margin-top: 0.3vw;
    width: 6vw;
    
}

#title {
    position: absolute;
    margin-left: 6vw;
    margin-top: 2.1vw;
    font-size: 1.5vw;
    font-family: sans-serif;
}

#wallet {
    position: absolute;
    color: white;
    background: linear-gradient(112deg, rgb(13 44 101), rgb(0, 41, 191), rgb(46 128 255), rgb(0, 41, 191), rgb(10 2 95), rgba(2, 0, 24, 0.541));
    left: 87vw;
    top: 2vw;
    border-style: none;
    border-radius: 0.5vw;
    height: 3vw;
    width: 13vw;
    text-align: left;
    padding-left: 1vw;
    font-family: sans-serif;
    font-size: 1.4vw;
    text-shadow: 0vw 0vw 1vw rgb(0 0 0);

} #wallet:hover{text-shadow: 0vw 0vw 1vw rgb(255, 255, 255); cursor: pointer; transition: ease-in, 0.8s; letter-spacing: 1px; opacity:0.9; width: 13.5vw;}

#msg1 {
    position: absolute;
    display: flex;
    color: rgb(255 255 255 / 90%);
    font-family: sans-serif;
    font-size: 1.4vw;
    background: linear-gradient(39deg, rgba(13, 44, 101, 0.50), rgb(0, 41, 191, 0.50), rgb(46, 128, 255, 0.50), rgb(0, 41, 191, 0.50), rgb(10, 2, 95, 0.50), rgba(2, 0, 24, 0.5));
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 10vw;
    text-shadow: 0vw 0vw 1vw rgb(0, 0, 0);
    letter-spacing: 2px;
    z-index: 3;
}

#msg2 {
    position: absolute;
    display: none;
    color: rgba(255, 255, 255, 0.902);
    font-family: sans-serif;
    font-size: 1.7vw;
    background-color: #00000000;
    text-align: center;
    justify-content: center;
    border-radius: 1vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 15vw;
    text-shadow: 0.1vw 0.1vw 0.3vw rgb(0 0 0);
    letter-spacing: 2px;
    box-shadow: inset 0vw 0vw 1vw 0px rgb(205 207 255 / 44%);
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 3vw;
    z-index: 3;

}

#toForm {
    position: absolute;
    color: white;
    background: linear-gradient(136deg, black, #304061, black);
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    border-style: none;
    border-color: white;
    border-radius: 0.5vw;
    height: 3vw;
    width: 20vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4vw;
    text-shadow: -0.1vw 0.1vw 0.1vw rgb(0 0 0);

} #toForm:hover{ cursor: pointer; transition: ease-in, 0.4s; letter-spacing: 1px; opacity:0.9; width: 20.5vw; background: linear-gradient(136deg, black, #546ea1, black);}

#aphaZoneDiv {
    position: absolute;
    width: 96vw;
    height: 80vh;
    bottom: 1vw;
    color: rgb(140, 140, 140);
    background-color: #161616;
    transform: translateX(-50%);
    left: 50%;

    border-radius: 1vw;
    padding: 1vw;
    z-index: 2;
    font-size: 1.3vw;
}

#address{
    position: absolute;
    color: rgb(230, 230, 230);
    font-size: 0.8vw;
    margin-top: -11vh;
    margin-left: 82.5vw;
    font-family: sans-serif;
    letter-spacing: 0.2vw;
} #address:hover{color:white;}

#name{
    position: absolute;
    color: rgba(255, 255, 255, 0.742);
    font-size: 1.2vw;
    margin-top: 5.5vh;
    margin-left: 3vw;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1vw;
    text-shadow: 0vw 0vw 0.5vw rgb(0, 0, 0);
    background-color: #0D0D0D;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.4vw;
    
}

#alphaTrad{
    margin-left: 23.5vw;
    
}
 #alphaTrad:hover{background: linear-gradient(0deg, rgb(0, 41, 191, 0.6), rgb(46, 81, 255, 0.6), rgb(0, 41, 191, 0.6), rgb(10, 2, 95, 0.6)); height: 6vh; margin-top:-8vh ;transition: ease, 0.5s;}
#alphaLows{
    margin-left: 32vw;
    

} #alphaLows:hover{background: linear-gradient(0deg, rgb(0, 41, 191, 0.6), rgb(46, 81, 255, 0.6), rgb(0, 41, 191, 0.6), rgb(10, 2, 95, 0.6)); height: 6vh; margin-top:-8vh ;transition: ease, 0.5s;}

#alphaOnchain{
    margin-left: 40.5vw;
    

} #alphaOnchain:hover{background: linear-gradient(0deg, rgb(0, 41, 191, 0.6), rgb(46, 81, 255, 0.6), rgb(0, 41, 191, 0.6), rgb(10, 2, 95, 0.6)); height: 6vh; margin-top:-8vh ;transition: ease, 0.5s;}

#alphaICO{
    margin-left: 49vw;
    

} #alphaICO:hover{background: linear-gradient(0deg, rgb(0, 41, 191, 0.6), rgb(46, 81, 255, 0.6), rgb(0, 41, 191, 0.6), rgb(10, 2, 95, 0.6)); height: 6vh; margin-top:-8vh ;transition: ease, 0.5s;}

#econ{
    margin-left: 93.5vw;
    margin-top: 35vh;
    position: absolute;
    width: 3vw;
    height: 6vh;
    color: white;
    font-size: 1.5vw;
    letter-spacing: 0.06vw;
    font-weight: 100;
    border-radius: 0.4vw;
    border-style: none;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    opacity: 100%;
    background: #111111;
    z-index: 3;
} #econ:hover{transition: ease, 0.5s; background-color: #3b3b3b;}

#infoBut{
    margin-left: 93.5vw;
    margin-top: 42vh;
    position: absolute;
    width: 3vw;
    height: 6vh;
    color: white;
    font-size: 1.5vw;
    letter-spacing: 0.06vw;
    font-weight: 100;
    border-radius: 0.4vw;
    border-style: none;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    opacity: 100%;
    background: #111111;
    z-index: 3;
} #infoBut:hover{transition: ease, 0.5s; background-color: #3b3b3b;}

#bot{
    margin-left: 93.5vw;
    margin-top: 49vh;
    position: absolute;
    width: 3vw;
    height: 6vh;
    color: white;
    font-size: 1.3vw;
    letter-spacing: 0.06vw;
    font-weight: 100;
    border-radius: 0.4vw;
    border-style: none;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    opacity: 100%;
    background: #111111;
    z-index: 3;
} #bot:hover{transition: ease, 0.5s; background-color: #3b3b3b;}

#ref{
    margin-left: 93.5vw;
    margin-top: 56vh;
    position: absolute;
    width: 3vw;
    height: 6vh;
    color: white;
    font-size: 1.3vw;
    letter-spacing: 0.06vw;
    font-weight: 100;
    border-radius: 0.4vw;
    border-style: none;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    opacity: 100%;
    background: #111111;
    z-index: 3;
} #ref:hover{transition: ease, 0.5s; background-color: #3b3b3b;}



.butAlpha {
    position: absolute;
    width: 8vw;
    height: 5vh;
    color: white;
    font-size: 1.2vw;
    font-size: 1vw;
    letter-spacing: 0.06vw;
    font-weight: 100;
    border-radius: 0.4vw 0.4vw 0vw 0vw;
    border-style: none;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    opacity: 100%;
    background: rgb(0 35 177 / 71%);
    margin-top: -7vh; 
    z-index: 3;
    
} .butAlpha:hover{cursor: pointer;}

#set1 {
    position: absolute;
    width: 2.2vw;
    margin-top: 5.2vh;
    margin-left: 0.5vw;
    opacity: 60%;
} #set1:hover{cursor: pointer; opacity: 100%;}

#set2 {
    position: absolute;
    width: 3vw;
    margin-top: 15vh;
    margin-left: 6vw;
    opacity: 100%;
} #set2:hover{cursor: pointer; }

#newSig {
    position: absolute;
    width: 21vw;
    height: 54vh;
    margin-top: 26vh;
    margin-left: 1vw;
    background-color: #0000006c;
    border-radius: 0.5vw;
    
}

#titAdd {
    position: absolute;
    color: rgba(255, 255, 255, 0.726);
    font-size: 1.5;
    margin-top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    letter-spacing: 0.3vw;
    border-radius: 1vw;
}

#addTradingSignals {
    position: absolute;
    display: block;
    width: 20vw;
    height: 40vh;
    margin-top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8b8baa00;
    border-radius: 0.5vw;
    
}

#addOnchainSignals{
    position: absolute;
    display: none;
    width: 20vw;
    height: 40vh;
    margin-top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8b8baa00;
    border-radius: 0.5vw;
}

#addLowsSignals{
    position: absolute;
    display: none;
    width: 20vw;
    height: 40vh;
    margin-top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8b8baa00;
    border-radius: 0.5vw;
}

#addIcoSignals{
    position: absolute;
    display: none;
    width: 20vw;
    height: 40vh;
    margin-top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8b8baa00;
    border-radius: 0.5vw;
}

.input {
    position: absolute;
    background-color: #080808;
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
}

#addAsset{
    margin-top: 2vh;
    left:50%;
    transform: translateX(-50%);
}

#addEntry{
    margin-top: 7vh;
    left:50%;
    transform: translateX(-50%);
}

#addSl{
    margin-top: 12vh;
    left:50%;
    transform: translateX(-50%);
}

#addTp{
    margin-top: 17vh;
    left:50%;
    transform: translateX(-50%);
}

#addMsg{
    margin-top: 29.5vh;
    left:50%;
    transform: translateX(-50%);
}

#long{
    position: absolute;
    background-color: #123611;
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    width: 5vw;
    margin-top: 23vh;
    margin-left: 3.5vw;

} #long:hover{cursor: pointer; box-shadow: 0vw 0vw 0.5vw rgb(0, 173, 29); background-color: #047c00;}

#short{
    position: absolute;
    background-color: #420e0e;
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    width: 5vw;
    margin-top: 23vh;
    margin-left: 11.3vw;
} #short:hover{cursor: pointer; box-shadow: 0vw 0vw 0.5vw rgb(212, 9, 9); background-color: #b30404;}

#addTradBut {
    position: absolute;
    background-color: rgb(13 13 113);
    border-style: none;
    color: white;
    border-radius: 0.4vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    width: 8vw;
    height: 5vh;
    margin-top: 36vh;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 2vw;
} #addTradBut:hover{cursor: pointer; box-shadow: inset 0vw 0vw 1.3vw rgb(39 115 253); background-color: rgba(13, 13, 113, 0.583); transition: ease, 1s;}

#newSigImg2 {
    position: absolute;
    display: block;
    margin-left: -1.4vw;
    margin-top: -0.4vh;
    width: 1.5vw;
    filter: invert(100%);
}

#setName{
    position: absolute;
    display: none;
    width: 19.2vw;
    height: 3.7vh;
    margin-top: 5vh;
    margin-left: 2.5vw;
    background-color: #08080800;
    border-radius: 0.5vw;
    z-index: 3;
    padding: 0.2vw;
}

#changeNameBut{
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 41, 191, 0.3), rgb(46, 81, 255, 0.3), rgb(0, 41, 191, 0.3), rgb(10, 2, 95, 0.3));
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    width: 6vw;
    height: 3.4vh;
    margin-top: 0vh;
    margin-left: 16vw;
    transform: translateX(-50%);
    box-shadow: inset 0vw 0vw 1vw rgb(39 115 253);
    z-index: 3;
}

#changeName{
    position: absolute;
    background-color: #282828;
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    z-index: 3;

}

.list {
    position: absolute;
    width: 38vw;
    height: 80vh;
    margin-top: 0vh;
    margin-left: 22.5vw;
    background-color: #2d2d2e00;
    border-radius: 0.5vw;
    z-index: 4;
    color: white;
}

#tradingSigList {
    display: block;
    overflow-y: scroll;
    direction: ltr;
}

#onchainSigList {
    display: none;
}

#LowSigList {
    display: none;
}

#icoSigList {
    display: none;
}

.signalTrad{
    background-color: #0000006c;
    box-shadow: inset 0vw 0vw 0.1vw rgb(180 180 180);
    width: 36vw;
    height: 18.5vh;
    border-radius: 0.5vw;
    margin-left: 1vw;
    margin-top: 1.25vh;
    
} .signalTrad:hover{transition: ease, 1s; box-shadow: inset 0vw 0vw 0.5vw rgb(143, 142, 142);}

.assetS{
    position: absolute;
    margin-top: 3vh;
    margin-left: 4vw;
    color:#ffffff;
    font-size: 1vw;
    
}

.entryS{
    position: absolute;
    margin-top: 7vh;
    margin-left: 8vw;
    color:#c5c4c4;
    font-size: 1vw;
    background-color: #0000006c;
    width: auto;
    text-align: center;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.4vw;
    box-shadow: inset 0vw 0vw 0.3vw rgba(51, 112, 245, 0.541);
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    max-width: 4.5vw;
    
}
.slSlong{
    position: absolute;
    margin-top: 12vh;
    margin-left: 8vw;
    color:#ffffffd7;
    font-size: 1vw;
    background-color: #0000006c;
    width: auto;
    text-align: center;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.4vw;
    box-shadow: inset 0vw 0vw 0.3vw rgb(245, 5, 5);
    max-width: 4.5vw;
}
.slSshort{
    position: absolute;
    margin-top: 2vh;
    margin-left: 8vw;
    color:#ffffffd7;
    font-size: 1vw;
    background-color: #0000006c;
    width: auto;
    text-align: center;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.4vw;
    box-shadow: inset 0vw 0vw 0.3vw rgb(245, 5, 5);
    max-width: 4.5vw;
}
.tpSlong{
    position: absolute;
    margin-top: 2vh;
    margin-left: 8vw;
    color:#ffffff;
    font-size: 1vw;
    background-color: #0000006c;
    width: auto;
    text-align: center;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.4vw;
    box-shadow: inset 0vw 0vw 0.3vw rgb(15, 182, 0);
    max-width: 4.5vw;
}
.tpSshort{
    position: absolute;
    margin-top: 12vh;
    margin-left: 8vw;
    color:#ffffffdb;
    font-size: 1vw;
    background-color: #0000006c;
    width: auto;
    text-align: center;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.4vw;
    box-shadow: inset 0vw 0vw 0.3vw rgb(15, 182, 0);
    max-width: 4.5vw;
}

.dirS{
    position: absolute;
    margin-top: 6.8vh;
    margin-left: 1.8vw;
    color:#ffffffea;
    font-size: 1vw;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    
}

.dolp1{
    position: absolute;
    margin-top: 3vh;
    margin-left: 15vw;
    color:#ffffffea;
    font-size: 1vw;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    z-index: 2;
}
.dolp2{
   position: absolute;
    margin-top: 8vh;
    margin-left:15vw;
    color:#ffffffea;
    font-size: 1vw;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    z-index: 2;
}
.dolp3{
   position: absolute;
    margin-top: 13vh;
    margin-left: 15vw;
    color:#ffffffea;
    font-size: 1vw;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    z-index: 2;
}

.assetImg{
    position: absolute;
    width: 2vw;
    margin-top: 2vh;
    margin-left: 1.5vw;
}

.date {
    position: absolute;
    margin-top: 16vh;
    margin-left: 27.5vw;
    color:#b5b5b5ea;
    font-size: 0.7vw;
    text-shadow: 0vw 0vw 0.3vw rgb(0, 0, 0);
    z-index: 2;
    letter-spacing: 0.1vw;
}

#tradData{
    position: absolute;
    width: 31vw;
    height: 29vh;
    margin-top: 0vh;
    right: 4vw;
    background-color: #0000006c;
    border-radius: 0.5vw;
    z-index: 2;
    color: white;
}


#moreInfoSig{
    position: absolute;
    width: 32vw;
    height: 49vh;
    margin-top: 31vh;
    right: 3.5vw;
    background-color: #00000000;
    border-radius: 0.5vw;
    color: white;

}

.longImg {
    position: absolute;
    width: 13px;
    height: 13px;
    background: radial-gradient(rgb(45, 158, 22), rgb(0, 112, 0));
    border-radius: 0.5vw;
    margin-top: 7.2vh;
    margin-left: 2.2vw;
}

.shortImg {
    position: absolute;
    width: 13px;
    height: 13px;
    background: radial-gradient(rgb(255, 10, 10), rgb(175, 1, 1));
    border-radius: 0.5vw;
    margin-top: 7.2vh;
    margin-left: 2.2vw;
}

#takeProfitsDiv1 {
    position: absolute;
    display: flex;
    width: 6vw;
    height:5vh;
    z-index: 3;
    margin-top: 1vh;
    margin-left: 0.3vw;
    border-radius: 0.4vw 0vw 0vw 0vw;
    border: 0px;
    background-color: #0d140e;
    color: white;
    font-size: 1vw;
    text-align: left;
    align-items: center;
    padding-left: 0.5vw;
}

#takeProfitsDiv2 {
    position: absolute;
    display: flex;
    width: 6vw;
    height:5vh;
    z-index: 3;
    margin-top: 6.1vh;
    margin-left: 0.3vw;
    border-radius: 0vw;
    border: 0px;
    background-color: #0d140e;
    color: white;
    font-size: 1vw;
    text-align: left;
    align-items: center;
    padding-left: 0.5vw;
}

#takeProfitsDiv3 {
    position: absolute;
    display: flex;
    width: 6vw;
    height:5vh;
    z-index: 3;
    margin-top: 11.2vh;
    margin-left: 0.3vw;
    border-radius: 0vw 0vw 0vw 0.4vw;
    border: 0px;
    background-color: #0d140e;
    color: white;
    font-size: 1vw;
    text-align: left;
    align-items: center;
    padding-left: 0.5vw;
}

#takeProfitsDiv4 {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height:5vh;
    z-index: 3;
    margin-top: 1vh;
    margin-left: 6.9vw;
    border-radius: 0vw 0.4vw 0vw 0vw;
    border: 0px;

    background-color: #0000006c;
    color: rgb(200,200,200);
    font-size: 1vw;
    justify-content: right;
    align-items: center;
    padding-right: 0.5vw;
}

#takeProfitsDiv5 {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height:5vh;
    z-index: 3;
    margin-top: 6.1vh;
    margin-left: 6.9vw;
    border-radius: 0vw ;
    border: 0px;

    background-color: #0000006c;
    color: rgb(200,200,200);
    font-size: 1vw;
    justify-content: right;
    align-items: center;
    padding-right: 0.5vw;
}

#takeProfitsDiv6 {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height:5vh;
    z-index: 3;
    margin-top: 11.2vh;
    margin-left: 6.9vw;
    border-radius: 0vw  0vw  0.4vw 0vw;
    border: 0px;

    background-color: #0000006c;
    color: rgb(200,200,200);
    font-size: 1vw;
    justify-content: right;
    align-items: center;
    padding-right: 0.5vw;
}

#stopLossDiv1 {
    position: absolute;
    display: flex;
    width: 6vw;
    height:5vh;
    z-index: 3;
    margin-top: 6.2vh;
    margin-left: 0.3vw;
    border-radius: 0.4vw 0vw 0vw 0vw;
    border: 0px;

    background-color: #140d0d;
    color: white;
    font-size: 1vw;
    text-align: left;
    align-items: center;
    padding-left: 0.5vw;
}

#entrymit {
    position: absolute;
    display: flex;
    width: 6vw;
    height:5vh;
    z-index: 3;
    margin-top: 17.2vh;
    margin-left: 0.3vw;
    border-radius: 0vw;
    border: 0px;
    background-color: #0d0f14;
    color: white;
    font-size: 1vw;
    text-align: left;
    align-items: center;
    padding-left: 0.5vw;
}

#stopLossDiv3 {
    position: absolute;
    display: flex;
    width: 6vw;
    height:5vh;
    z-index: 3;
    margin-top: 11.3vh;
    margin-left: 0.3vw;
    border-radius: 0vw 0vw 0vw 0.4vw;
    border: 0px;

    background-color: #140d0d;
    color: white;
    font-size: 1vw;
    text-align: left;
    align-items: center;
    padding-left: 0.5vw;
}

#stopLossDiv4 {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height:5vh;
    z-index: 3;
    margin-top: 6.2vh;
    margin-left: 6.9vw;
    border-radius: 0vw 0.4vw 0vw 0vw;
    border: 0px;

    background-color: #0000006c;
    color: rgb(200,200,200);
    font-size: 1vw;
    justify-content: right;
    align-items: center;
    padding-right: 0.5vw;
}

#entrymit2 {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height:5vh;
    z-index: 3;
    margin-top: 17.2vh;
    margin-left: 6.9vw;
    border-radius: 0vw ;
    border: 0px;

    background-color: #0000006c;
    color: rgb(200,200,200);
    font-size: 1vw;
    justify-content: right;
    align-items: center;
    padding-right: 0.5vw;
}

#stopLossDiv6 {
    position: absolute;
    display: flex;
    width: 4.5vw;
    height:5vh;
    z-index: 3;
    margin-top: 11.3vh;
    margin-left: 6.9vw;
    border-radius: 0vw  0vw  0.4vw 0vw;
    border: 0px;

    background-color: #0000006c;
    color: rgb(200,200,200);
    font-size: 1vw;
    justify-content: right;
    align-items: center;
    padding-right: 0.5vw;
}

#imgLongmi {
    position: absolute;
    display: none;
    width: 3.5vw;
    margin-top: 5.5vh;
    margin-left: 8vw;
}

#imgShortmi {
    position: absolute;
    display: none;
    width: 3.5vw;
    margin-top: 5.5vh;
    margin-left: 8vw;
}

.assetImg2 {
    position: absolute;
    width: 2.2vw;
    margin-top: -26vh;
    margin-left: 1vw;
}

#mrinfAss {
    position: absolute;
    color: white;
    margin-top: 10vh;
    margin-left: 1.1vw;
    font-size: 1vw;
}

#mrinfNam{
    position: absolute;
    display: none;
    color: rgb(195, 195, 195);
    font-size: 1.1vw;
    margin-top: 4vh;
    margin-left: 4vw;
    width: 3vw;
    /*box-shadow: inset 0vw 0vw 0.1vw rgb(180 180 180);*/
    background-color: #0000006c;
    padding: 1.4vw;
    padding-left: 0.8vw;
    padding-right:4vw;
    border-radius: 0.4vw;
}

#alphaMsg {
    position: absolute;
    width: 15vw;
    height:14.2vh;
    z-index: 3;
    margin-top: -2vh;
    margin-left: 12.6vw;
    border-radius: 0.4vw;
    border: 0px;
    background-color: #0000006c;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: rgb(200,200,200);
    font-size: 1vw;
}

#msgTextTit{
    position: absolute;
    font-size:0.8vw;
    margin-top: -0.5vh;
    margin-left: 13.3vw;
    z-index: 3;
    color: rgb(140, 140, 140);
}

#mis1{
    margin-top: 13vh;
    margin-left: 0vw;
}

#mis2{
    margin-top: 30vh;
    margin-left: 0vw;
}

#sigId {
    display: none;
}

#timesVal {
    position: absolute;
    margin-left: 12.5vw;
    margin-top: -16vh;
    width: 6vw;
    height: 12vh;
    display: block;
    background-color: #0000006c;
    border-radius: 0.5vw;
    color: white;
    z-index: 3;
    font-family: sans-serif;
}

#tval {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#tval1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8vw;
    text-align: center;
    bottom: -1vh;
    color: #8c8a8a;
}

#success {
    position: absolute;
    margin-left: 19.5vw;
    margin-top: -16vh;
    width: 6vw;
    height: 12vh;
    display: block;
    background-color: #0000006c;
    border-radius: 0.5vw;
    color: white;
    z-index: 3;
    font-family: sans-serif;
}

#succ1 {
    position: absolute;
    left: 50%;
    margin-top: 4vh;
    font-size: 1vw;
    transform: translateX(-50%);
}

#succ2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8vw;
    text-align: center;
    bottom: -1vh;
    color: #8c8a8a;
}

/*TRADING DATA*/
#numTradSig {
    position: absolute;
    margin-left: 2vw;
    margin-top: 2vh;
}

/*BOT window*/

#botW{
    position: absolute;
    display: none;
    width: 20vw;
    height: 47vh;
    margin-top: 31vh;
    right: 9vw;
    background-color: #2d2d2e3d;
    border-radius: 0.5vw;
    color: white;
    text-align: center;
    padding-top: 1vw;
    font-weight: 700;
    box-shadow: inset 0vw 0vw 1vw 0px rgba(139, 139, 139, 0.44);

}

#econW{
    position: absolute;
    display: none;
    width: 31vw;
    height: 47vh;
    margin-top: 31vh;
    right: 4vw;
    background-color: #2d2d2e3d;
    border-radius: 0.5vw;
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    padding-top: 1vw;
    font-weight: 700;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    box-shadow: inset 0vw 0vw 1vw 0px rgba(139, 139, 139, 0.44);
}

#addChatId{
    margin-top: 7.3vh;
    left: 50%;
    transform: translateX(-50%);
    
}

#how {
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 41, 191, 0.3), rgb(46, 81, 255, 0.3), rgb(0, 41, 191, 0.3), rgb(10, 2, 95, 0.3));
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    width: 6vw;
    height: 3.4vh;
    margin-top: 0vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0vw 0vw 1vw rgb(39 115 253);
    z-index: 3;
}

#addChat {
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 41, 191, 0.3), rgb(46, 81, 255, 0.3), rgb(0, 41, 191, 0.3), rgb(10, 2, 95, 0.3));
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    width: 7vw;
    height: 3.4vh;
    margin-top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0vw 0vw 1vw rgb(39 115 253);
    z-index: 3;
} #addChat:hover{cursor: pointer;}

#monPrice{
    margin-top: 7.3vh;
    width: 15vw;
    height: 3vh;
    border-radius: 1vw 0vw 0vw 1vw;
    left: 45%;
    transform: translateX(-50%);
}

#anPrice{
    margin-top: 12vh;
    width: 15vw;
    height: 3vh;
    border-radius: 1vw 0vw 0vw 1vw;

    left: 45%;
    transform: translateX(-50%);
}

#setPrice{
    position: absolute;
   background-color: rgb(13 13 113);
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    width: 4vw;
    height: 9vh;
    border-radius: 0vw 1vw 1vw 0vw;
    margin-top: 7.25vh;
    margin-left: 2.2vw;
    box-shadow: inset 0vw 0vw 1vw rgb(0, 40, 216);
}#setPrice:hover{cursor: pointer;box-shadow: inset 0vw 0vw 1.3vw rgb(39 115 253); transition: ease, 1s;}

#withd{
    position: absolute;
   background-color: rgb(13 13 113);
    border-style: none;
    color: white;
    border-radius: 1vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 1vw;
    width: 7vw;
    height: 5vh;
    border-radius: 1vw;
    margin-top: 33vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0vw 0vw 1vw rgb(0, 40, 216);
} #withd:hover{cursor: pointer;box-shadow: inset 0vw 0vw 1.3vw rgb(39 115 253); transition: ease, 1s;}


#lupa2{
    position: absolute;
    display: block;
    margin-left: 5.5vw;
    margin-top: 13.5vh;
    width: 4vw;
    filter: invert(100%);
} 

#t1 {
    position: absolute;
    display: block;
     left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
}

#t2 {
    position: absolute;
    display: block;
    margin-left: 10vw;
    margin-top: 16vh;
    font-size: 1.2vw;
}

#t3 {
    position: absolute;
    display: block;
    margin-left: 10vw;
    margin-top: 67vh;
    font-size: 1.2vw;
    width: 25vw;
    line-height: 4vh;
}

#t4 {
    position: absolute;
    display: block;
    margin-left: 10vw;
    margin-top: 54vh;
    font-size: 1.2vw;
    width: 25vw;
    line-height: 4vh;
}

#t5 {
    position: absolute;
    display: block;
    margin-left: 10vw;
    margin-top: 39vh;
    font-size: 1.2vw;
    width: 25vw;
    line-height: 4vh;
}

#t6 {
    position: absolute;
    display: block;
    margin-left: 10vw;
    margin-top: 25.3vh;
    font-size: 1.2vw;
    width: 25vw;
    line-height: 4vh;
}

#t7 {
    position: absolute;
    display: block;
    margin-left: 6.6vw;
    margin-top: 27vh;
    font-size: 2.5vw;
    width: 25vw;
    line-height: 4vh;
} 

#blue {
    position: absolute;
    margin-left: 6vw;
    margin-top: 54.5vh;
    width: 3vw;
    height: 6.5vh;
    background-color: rgb(0 35 177 / 71%);
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

#earnLogo2 {
    position: absolute;
    margin-left: 6vw;
    margin-top: 40.5vh;
    filter: invert(100);
    width: 2.5vw;
}

#newSigImg {
    position: absolute;
    display: block;
    margin-left: 6vw;
    margin-top: 68vh;
    width: 2.7vw;
    filter: invert(100%);
}

#userEarn {
    display: none;
    position: absolute;
    margin-top: 40vh;
    margin-left: 64vw;
    width: 25vw;
    height: 25vh;
    color: rgb(140, 140, 140);
    background-color: #111111;
    border-radius: 0.5vw;
    padding: 1vw;
    z-index: 2;
    font-size: 1.3vw;
}

#earnLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100);
    width: 1.8vw;
}

#textRefer {
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#textRefer2 {
    position: absolute;
    font-size: 1vw;
    width: 20vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 21vh;
}

#refCodeCreate{
    position: absolute;
    margin-top: 11vh;
    width: 10vw;
    border-radius: 0.6vw 0.6vw 0vw 0vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1vw;
} #refCodeCreate:focus {
    outline: none; 
}

#create {
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 41, 191, 0.2), rgb(46, 81, 255, 0.2), rgb(0, 41, 191, 0.2), rgb(10, 2, 95, 0.2));
    color: white;
    text-shadow: 0vw 0vw 0.25vw rgb(0,0,0);
    margin-top: 14.6vh;
    border-style: none;
    width: 10.2vw;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0vw 0vw 1vw rgb(39 115 253);
    border-radius: 0vw 0vw 0.6vw 0.6vw;
} #create:hover{cursor: pointer; letter-spacing: 0.05vw; height: 3.4vh; transition: ease, 1s; }


#d1 {
    position: absolute;
    margin-left: 1vw;
    margin-top: 12vh;
    width: 6vw;
    height: 12vh;
    display: block;
    background-color: #0000006c;
    border-radius: 0.5vw;
    color: white;
    z-index: 3;
    font-family: sans-serif;
    text-align: center;
}

#d2 {
    position: absolute;
    margin-left: 8.5vw;
    margin-top: 12vh;
    width: 6vw;
    height: 12vh;
    display: block;
    background-color: #0000006c;
    border-radius: 0.5vw;
    color: white;
    z-index: 3;
    font-family: sans-serif;
    text-align: center;
}


#d3 {
    position: absolute;
    margin-left: 16vw;
    margin-top: 12vh;
    width: 6vw;
    height: 12vh;
    display: block;
    background-color: #0000006c;
    border-radius: 0.5vw;
    color: white;
    z-index: 3;
    font-family: sans-serif;
    text-align: center;
}

.p1 {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    font-size: 0.9vw;
    color: #8c8a8a;
}

#myReferCode {
    position: absolute;
    display: block;
    font-size: 0.9vw;
    font-family: sans-serif;
    margin-top: 0vh;
    margin-left: 3vw;
    color: rgb(187, 187, 187);
    z-index: 2;
    width: 17vw;
    height: 4vh;
    background-color: #0000006c;
    border-radius: 0.6vw;
    text-align: center;
    letter-spacing: 0.5px;
}

#butCopyRefLink {
    position: absolute;
    width: 4vw;
    height: 3.3vh;
    color: white;
    background-color: rgb(0 35 177 / 71%);
    font-size: 1vw;
    padding-left: 1.5vw;
    border-style: none;
    border-radius: 0.4vw;
    margin-top: 0.4vh;
    right: 0.2vw;
} #butCopyRefLink:hover{cursor: pointer;    background-color: rgba(35, 74, 228, 0.71);
}

#copyImg {
    position: absolute;
    filter: invert(100);
    width: 1vw;
    left: 0.2vw;
    top: 0.5vh;
}

#mrc {
    position: absolute;
    margin-top: 1vh;
    margin-left: 1vw;
    color: #6f6d6d;
}

#npta {
    position: absolute;
    margin-top: -3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3vw;
    color: #ffffff;
}

#earned {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16vh;
    width: 6vw;
    height: 12vh;
    display: block;
    background-color: #0000006c;
    border-radius: 0.5vw;
    color: white;
    z-index: 3;
    font-family: sans-serif;
    text-align: center;
}

#earnT {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
    font-size: 0.9vw;
    color: #8c8a8a;
}

#earn{
    position: absolute;
    text-align: center;
    width: 4vw;
    margin-top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    

}

}

